@import  url("https://fonts.googleapis.com/css?family=Playfair+Display:900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300italic");

$fa-font-path: "vendor/styles/font-awesome";
@import "../../node_modules/font-awesome/scss/font-awesome";

$green: #A6CE39;

// Common Styles

p,
ul,
ol,
blockquote {
  font-family: "Merriweather", serif;
}

body > main {
  p,
  ul,
  ol,
  blockquote {
    font-size: 16px;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  a:visited {
    color: #2562dc;
    text-decoration: none;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: $green;
}

header h1 {
  margin-bottom: 0em;
}

header h2 {
  margin-bottom: 0em;
}

header p {
  margin-top: 0em;
}

i {
  @extend .fa;
  @extend .fa-fw;
  vertical-align: middle;
}

i.github {
  @extend .fa-github;
}

i.twitter {
  @extend .fa-twitter;
}

blockquote {
  padding-left: 10px;
  font-style: italic;
  border-left: thick solid $green;
}

// Navigation Styles

body > header > nav {
  color: white;
  font-size: 2em;
}

body > header > nav a {
  color: white;
  text-decoration: none;
}

body > header > nav li {
  list-style: none;
  display: inline;
}

body > header > nav li {
  list-style: none;
  display: inline;
} 

body > header > nav li img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

// Header Styles

body > header {
  background: $green;
  padding-top: 2em;
  padding-bottom: 2em;
}

body > header * {
  color: white;
}

body > header a {
  color: white;
  text-decoration: none;
}

body > header a:visited {
  color: white;
  text-decoration: none;
}

body > header h1 {
  text-transform: uppercase;
  font-size: 3em;
}

body > header p {
  font-size: 1.1em;
}

// Main Styles

body > main h2 {
  font-size: 3em;
}

body > main header {
  color: $green;
  border-bottom: thin solid $green;
}

body > main header p {
  font-size: 100%;
}

body > main header a {
  color: $green;
  text-decoration: none;
}

body > main header a:visited {
  color: $green;
  text-decoration: none;
}

// Footer Styles

body > footer {
  background: $green;
  padding-top: 2em;
  padding-bottom: 2em;
}

body > footer * {
  color: white;
}
