<footer>
  <div class="copyright">
    <p>&copy; 2014 - 2016 Ricardo Gladwell</p>
  </div>
  <div class="about">
    <p>Made with love using <a href="https://nodejs.org">Node.js</a>, <a href="http://gruntjs.com">Grunt</a>, <a href="http://metalsmith.io">Metalsmith</a> and <a href="http://skel.io/">Skel</a>. Beautifully displayed with <a href="https://www.google.com/fonts/specimen/Playfair+Display">Playfair Display</a> and <a href="https://www.google.com/fonts/specimen/Merriweather">Merriweather</a> fonts.</p>
  </div>
</footer>
