<header>
  <nav>
    <ul class="links">
    </ul>
    <ul class="social">
      <li><a href="https://gladwell.me"><img src="https://en.gravatar.com/userimage/11387265/f0a3665f65978f2e4ee1480f77db9348.jpg?size=100" alt="About Me"></a></li>
      <li><a href="https://twitter.com/rgladwell"><i class="twitter"></i></a></li>
      <li><a href="https://github.com/rgladwell"><i class="github"></i></a></li>
    </ul>
  </nav>

  <div class="title">
    <h1><a href="/">Grey Area</a></h1>
    <p>{{ description }}</p>
  </div>
</header>
